<!DOCTYPE html>
<html>
    <head>
        <title>cooking recipes</title>
    </head>
    
    <body>
        <h1>Recipe List from book</h1>
        <ul>
            <li>
                <h2> Recipe 1 </h2>
                <p> This recipe was taken from Jackes Peppin book, <i>Essential cooking whatever something</i>.
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wfvxTyFJOiU" frameborder="0" allowfullscreen></iframe>
            </li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> new crap</li>
            
        
        </ul>
        
    
    
    
    
    
    
    
    
    </body>

</html>

